<form action='/generate_gcode'>
  <span>What is the length of the clamp? (inches)</span>
  <input type='text' name='length' value='4'></input><br>

  <span>What is the width of the clamp? (inches)</span>
  <input type='text' name='width' value='2'></input><br>

  <span>What is the thickness of the material stock? (inches)</span>
  <input type='text' name='material-thickness' value='0.75'></input><br>

  <span>What is the XY end-milling feedrate? (inches per minute)</span>
  <input type='text' name='xy-feedrate' value='20'></input><br>

  <span>What is the Z plunge feedrate? (inches per minute)</span>
  <input type='text' name='z-plunge-feedrate' value='10'></input><br>

  <span>What is the axial depth of cut? (inches)</span>
  <input type='text' name='axial-depth-of-cut' value='0.1'></input><br>

  <button type='submit'>Generate G-code!</button>
</form>
