<form action='/generate_gcode'>
  <span>Units are inches.</span><br>

  <span>What is the length of the clamp?</span>
  <input type='text' name='length'></input><br>

  <span>What is the width of the clamp?</span>
  <input type='text' name='width'></input><br>

  <span>What is the thickness of the material stock?</span>
  <input type='text' name='material-thickness'></input><br>

  <span>What is the XY end-milling feedrate?</span>
  <input type='text' name='xy-feedrate'></input><br>

  <span>What is the Z plunge feedrate?</span>
  <input type='text' name='z-plunge-feedrate'></input><br>

  <span>What is the axial depth of cut?</span>
  <input type='text' name=axial-depth-of-cut></input><br>

  <button type='submit'>Generate G-code!</button>
</form>
